* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    z-index: 2;
}

.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    z-index: 3;
    width: 100%;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    animation: fadeInUp 1s ease-out;
}

.buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.toggle-button {
    background-color: #d3d3d3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 140px;
}

.toggle-button.active {
    background-color: #f53d2d;
    color: white;
}

.toggle-button:hover {
    background-color: #f53d2d;
    color: white;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
}

.register-button {
    background-color: #f53d2d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #d32f2f;
}

a {
    color: #f53d2d;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}
@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .pizza-image {
        object-position: center;
    }

    .logo {
        width: 120px;
    }

    .form-box {
        width: 90%;
        padding: 20px;
    }

    .toggle-button {
        width: 100%;
        margin: 10px 0;
    }
}
