* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;  
    width: 400px; 
    animation: fadeIn 1s ease-out;
}

.pizza-img {
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    animation: zoomIn 1s ease-out;
}

.cta-btn {
    background-color: #f25c5c;
    color: #fff;
    font-size: 25px;
    padding: 20px 70px;
    border: none;
    border-radius: 40px;
    position: absolute;
    bottom: 50px; 
    left: 50%;
    transform: translateX(50%); 
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.cta-btn:hover {
    background-color: #d14949;
    transform: scale(1.1) translateX(50%); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .logo {
        width: 350px; /* Ajuste para pantallas medianas */
    }

    .cta-btn {
        font-size: 22px;
        padding: 18px 60px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 300px; /* Ajuste para pantallas más pequeñas */
    }

    .cta-btn {
        font-size: 20px;
        padding: 16px 50px;
    }
}
